<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="nawarsoft_pokegame_after_get_image_plugin" type="Nawarsoft\PokeGame\Plugin\AfterGetImage"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="nawarsoft_pokegame_add_images_to_gallery_plugin" type="Nawarsoft\PokeGame\Plugin\AddImagesToGalleryBlock" />
    </type>
</config>
